body{
    background-color:#1C1C1C;
    margin:auto;
    width: 80%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 40px;
    color: whitesmoke;
}

h2{
    color: whitesmoke;
    font-size: 28px;
}

p, ul{
    text-align:justify;
    color: whitesmoke;
    line-height: 22px;
}

a:visited, a:link, a{
    color: whitesmoke;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

.centro{
    text-align:center;
}

.bordacinza{
    background-color: gray;
    border-bottom: 3px solid whitesmoke;
    padding: 5px 5px 5px 15px;
}
